beautifulsoup4==4.7.1
coverage==5.4
defusedxml==0.5.0
email-validator==1.1.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-SQLAlchemy==2.1
gunicorn==20.1.0
html5lib==1.0.1
lxml==4.3.2
numpy==1.21.5
packaging==20.9
pickleshare==0.7.5
pytest==6.2.2
python-dateutil==2.7.3
python-gitlab==2.4.0
python-xlib==0.23
pytz==2019.1
PyYAML==3.13
regex==2022.1.18
soupsieve==1.8
urllib3==1.26.3
virtualenv==20.4.2
Werkzeug==1.0.1
